<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link de Boostrap y estilo de header y footer--> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/mainIndex.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename= 'css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/error.css')}}">
    <title>Aplicacion Asistencias</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Colegio San Miguel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/indexpadre.html">Volver</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 class="principal"> <span>Asistencias Colegio San Miguel</span></h1>

    {% if band %}
    <div class="container">
        <h1>Formulario</h1>
      
        <form action='' method='POST'>
          <div class="form-group">
            <label for="opciones">Selecciona un Hijo por su DNI:</label>
            <select class="form-control" id="dni" name="dni">
                {% for hijo in hijos %}
                 <option value= {{hijo.id}} >{{hijo.dni}}</option>
                {% endfor %}

            </select>
          </div>
        
          <br><br>
          
          <input type="submit" class="btn btn-primary" value="Enviar">
        </form>
        </div>
    </div>
    {% else %}

        {% for asistencia in asistencias %}
        
        <div class="cuadro">
            <p>Fecha: {{ asistencia.fecha }}</p>
            <p>Clase: {{ asistencia.codigoclase }}</p>
            {% if asistencia.asistio == "s" %}
                <p>Asistencia: Asistio</p>
            {% else %}
                <p>Asistencia: No Asistio</p>
            {% endif %}
            {% if asistencia.justificacion != "" %}
            <p>Justificación: {{ asistencia.justificacion }}</p>
            {% else %}
            <p>Justificación: No justifico </p>
            {% endif %}
          </div>
        {% endfor %}
       
    {% endif %}
 
    

    <footer>
        <div class="footer-content">
            <h3>Colegio</h3>
            <p>Descripcion del colegio</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></li>
                <li><a href="#"><i class="fa fa-instagram"></i></li>
                <li><a href="#"><i class="fa fa-twitter"></i></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 Joaquin Ruiz y Juan Ignacio Latorre. designed by <span>Programadores</span></p>
            </div>

             {% if error %}
             <div id="mensaje-error">
                 {{ error }}
                 <button id="cerrar-btn">Cerrar</button>
             </div>
            {% endif %}
            
            
        </footer>
    <script src="https://kit.fontawesome.com/7c935897fa.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script/main.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>