<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicacion Asistencias</title>

    <link rel="stylesheet" href="{{url_for('static', filename= 'css/mainInicioSesion.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/error.css')}}">
</head>

<body>


   <!-- No se que carajos pasa que nose pone el borde en el centro del box hay un div de mas o de menos-->
  <section class= "form-main">
    <div class="form-content">
        <div class="box">
            <h3>Iniciar Sesion</h3>
            <form action="http://localhost:5000/iniciarSesion.html" method="post">
                <div class="input-box">
                    <input type="text" placeholder="usuario" name="usuario" class="input-control">
                </div>
                <div class="input-box">
                    <input type="password" name= "contraseña" placeholder= "contraseña" class="input-control">
                </div>   
                <label for="rol">Rol:</label>
                    <select name= "rol">
                      <option value="preceptor" > Preceptor </option>
                      <option  value="padre" > Padre </option>
                </select>
                  <br></br>
                  <button type="submit" value = "Guardar" class="btn"> Enviar </button>
             </form>

             {% if error %}
             <div id="mensaje-error">
                 {{ error }}
                 <button id="cerrar-btn">Cerrar</button>
             </div>
            {% endif %}

        </div>
    </div>
  </div>
  
   </section>
      

   <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</body>
</html>