/* aboutus-card.css */

/* Styling for the about us card element */
#aboutusCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    padding: 20px;
    background-color: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 3000; 
    overflow: auto; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
    border: 1px solid #d7649e; 
}

/* Display the card when the show class is applied */
#aboutusCard.show {
    opacity: 1;
    visibility: visible;
}

/* Hide the card when the hidden class is applied */
#aboutusCard.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Styling for the image inside the about us card */
#aboutusCard img {
    width: 100px; 
    height: 100px; 
    border-radius: 10px; 
    object-fit: cover;
    margin-bottom: 15px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/* Styling for the paragraph text inside the card */
#aboutusCard p {
    font-size: 16px; 
    color: #333; 
    text-align: center;
}

/* Responsive adjustments for smaller screen sizes */
@media (max-width: 768px) {
    #aboutusCard {
        width: 90%; 
        height: 70%; 
        top: 10%; 
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px; 
        padding: 15px; 
    }
    
    #aboutusCard img {
        width: 200px; 
        height: 200px; 
    }
    
    #aboutusCard button {
        font-size: 30px; 
        top: 15px; 
        right: 15px;
    }
}

/* Styling for the close button inside the about us card */
#aboutusCard button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #333; 
    cursor: pointer;
}
