
/*Contact card styles*/
#contactCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 12px; 
    z-index: 1000;
    border: 1px solid #d7649e; 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; 
}

/* Visible state for the contact card */
#contactCard.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
/*Hidden state for the contact card*/
#contactCard.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.9);
}

/* Close button contact card */
#closeContactCard {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 28px; 
    color: #d7649e; 
    cursor: pointer;
    transition: color 0.3s ease; 
}
/*hover over close button contact card*/
#closeContactCard:hover {
    color: #eb4a9a; 
}

/* styles for the contact list */

#contactCard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contactCard ul li {
    margin: 12px 0; 
}

#contactCard ul li a {
    text-decoration: none;
    color: #d7649e; 
    font-weight: 500; 
    transition: color 0.3s ease; 
}

#contactCard ul li a:hover {
    color: #eb4a9a; 
}

/* mobile adaptated */
@media (max-width: 768px) {
    #contactCard {
        width: 85%; 
        max-width: 400px; 
        height: auto; 
        top: 15%; 
        left: 50%;
        transform: translateX(-50%);
        padding: 20px; 
        border-radius: 12px; 
    }

    #closeContactCard {
        font-size: 32px; 
        top: 15px;
        right: 15px;
    }
}
