<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link de Boostrap y estilo de header y footer--> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{{url_for('static', filename= 'css/mainIndex.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/error.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/form.css')}}">
    <title>Aplicacion Asistencias</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Colegio San Miguel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/indexpreceptor.html">Volver</a>
                </li>
            </ul>
        </div>
    </nav>


<h1 class= "principal"> Asistencias Colegio San Miguel</h1>
    {% if band %}
        <div class= "container-form">
        
            <form method="post">
                    <label >Elija curso asignado</label>
                    <select name= "curso" class="form-select" aria-label="Default select example">
                        {% for curso in cursos %}
                          <option  value= {{ curso.id }} >{{curso.id}}</option>
                        {% endfor %}
                    </select>
        
                    <br></br>
                <button type="submit" value = "Guardar" class="btn"> Enviar </button>
            </form>
         </div>

    {% else %}

     <div class="containerDatosTotales">
     <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Asistencia Aula</th>
            <th scope="col">Asistencia Fisica</th>
            <th scope="col">Inasistencia Aula Justificadas</th>
            <th scope="col">Inasistencia Aula Injustificadas</th>
            <th scope="col">Inasistencia Fisica Justificadas</th>
            <th scope="col">Inasistencia Fisica Injustificadas</th>
            <th scope="col">Inasistencias totales</th>
          </tr>
        </thead>
        <tbody>
          {% for estudiante in estudiantes %}
          <tr>
            <th scope="row">{{ estudiante.id }}</th>
            <td>{{ estudiante.nombre }} {{ estudiante.apellido }}</td>
            <td>{{ estudiante.registroAsistencias.get_cantidadAulaP() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadFisP() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadAulaJ() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadAulaI() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadFisJ() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadFisI() }} </td>
            <td>{{ estudiante.registroAsistencias.get_cantidadTotalInas() }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
        </div>
      </div>
    </div>



    {% endif %}
    
    <footer>
        <div class="footer-content">
            <h3>Colegio</h3>
            <p>Descripcion del colegio</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></li>
                <li><a href="#"><i class="fa fa-instagram"></i></li>
                <li><a href="#"><i class="fa fa-twitter"></i></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy;2023 Joaquin Ruiz y Juan Ignacio Latorre. designed by <span>Programadores</span></p>
            </div>
             {% if error %}
             <div id="mensaje-error">
                 {{ error }}
                 <button id="cerrar-btn">Cerrar</button>
             </div>
            {% endif %}
            
            
        </footer>
    <script src="https://kit.fontawesome.com/7c935897fa.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script/main.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
</html>